body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('homepage.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the body takes up at least the full viewport height */
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #000;
    color: #fff;
    padding: 15px 0;
}

header h1 {
    margin: 0;
    float: left;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.main-content {
    flex-grow: 1; /* Allows the main content area to grow and push the footer to the bottom */
    text-align: center;
    padding: 50px 0;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
}

.main-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.room-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.room {
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.room h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.room p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #333;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}
